body{
    margin:0;
    display:flex;
    height:100vh;
    font-family:Arial;
}

.sidebar-left{
    width:250px;
    background:#1f2937;
    color:white;
    padding:20px;
}

.content{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f4f4;
}

.sidebar-right{
    width:320px;
    background:#111827;
    color:white;
    padding:20px;
}

img{
    border-radius:10px;
}

.status{
    font-size:26px;
    margin-top:20px;
}

.card{
    background:#1f2937;
    padding:12px;
    border-radius:8px;
    margin-top:15px;
}

.metric{
    margin-top:8px;
}

button{
    width:100%;
    margin-top:10px;
    padding:10px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-weight:bold;
}

.pause{ background:#f59e0b; }
.reset{ background:#ef4444; color:white; }